<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2011 Brown Bag Consulting.
  ~ This file is part of the ExpressUI project.
  ~ Author: Juan Osuna
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License Version 3
  ~ as published by the Free Software Foundation with the addition of the
  ~ following permission added to Section 15 as permitted in Section 7(a):
  ~ FOR ANY PART OF THE COVERED WORK IN WHICH THE COPYRIGHT IS OWNED BY
  ~ Brown Bag Consulting, Brown Bag Consulting DISCLAIMS THE WARRANTY OF
  ~ NON INFRINGEMENT OF THIRD PARTY RIGHTS.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ The interactive user interfaces in modified source and object code versions
  ~ of this program must display Appropriate Legal Notices, as required under
  ~ Section 5 of the GNU Affero General Public License.
  ~
  ~ You can be released from the requirements of the license by purchasing
  ~ a commercial license. Buying such a license is mandatory as soon as you
  ~ develop commercial activities involving the ExpressUI software without
  ~ disclosing the source code of your own applications. These activities
  ~ include: offering paid services to customers as an ASP, providing
  ~ services from a web application, shipping ExpressUI with a closed
  ~ source product.
  ~
  ~ For more information, please contact Brown Bag Consulting at this
  ~ address: juan@brownbagconsulting.com.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="dataSource">

        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>

        <property name="persistenceUnitName" value="persistence-unit"/>

        <property name="jpaProperties">
            <props>
                <prop key="hibernate.ejb.naming_strategy">${hibernate.naming_strategy}</prop>
                <prop key="hibernate.naming_strategy">${hibernate.naming_strategy}</prop>
                <prop key="hibernate.default_schema">${hibernate.default_schema}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
                <prop key="hibernate.cache.use_structured_entries">${hibernate.cache.use_structured_entries}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
                <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
                <prop key="hibernate.cache.region_prefix">${hibernate.cache.region_prefix}</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">
                    ${hibernate.cache.provider_configuration_file_resource_path}
                </prop>
                <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>

            </props>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="expressUiDataSource"/>
        <property name="defaultObject" ref="developmentDataSource"/>
    </bean>

    <bean id="developmentDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${hibernate.connection.driver_class}"/>
        <property name="url" value="${hibernate.connection.url}"/>
        <property name="username" value="${hibernate.connection.username}"/>
        <property name="password" value="${hibernate.connection.password}"/>
    </bean>

</beans>
